<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}! Let's test some functions!
  </h1>
  <br><br>
  Component variables:<br>
  {{speed}} {{vehicle}}
  <hr>
  <br><br>
  <a (click)="setValues('Fast', newVehicle)">
    Click to Change to Fast {{newVehicle}}
  </a><hr>
  <br><br>
  <a (click)="setValues(newSpeed, 'Rocket')">
      Click to Change to {{newSpeed}} Rocket
  </a><hr>
  <br><br>
  <a (click)="setValues('Fast', newVehicle)">
      Click to Change to Fast {{newVehicle}}
  </a><hr>
  <br><br>
  <a (click)="vehicle='Car'">
    Click to Change Vehicle to Car
  </a><hr>
  <a (click)="vehicle='Enhanced ' + vehicle">
      Click to Enhance Vehicle
    </a><hr>
  <br><br>
    <h1>
      Now let's test some events!
    </h1>
    <app-events></app-events>




  <app-date></app-date>
  <app-color></app-color>
  <app-outer></app-outer>
  <app-directives></app-directives>
  <h1>
    Custom Zoom Directive
  </h1>
  <span *ngFor="let image of images">
    <img zoom src="{{image}}" />
  </span>
  <br><br>
  <app-customevent></app-customevent>
  <app-character></app-character>
  <app-observable></app-observable>